@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax-container {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  scroll-behavior: smooth;
}

.parallax-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

@media (min-width: 640px) {
  .parallax-section {
    min-height: 100vh;
  }
}
@media (min-width: 768px) {
  .parallax-section {
    background-attachment: scroll;
  }
}
@media (min-width: 1024px) {
  .parallax-section {
    min-height: 90vh;
  }
}
